
<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="margin-top: 35px; padding: 10px;">
    <p>
      contactos!!!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Maiores non nisi reiciendis. Aliquid est ullam dolorem omnis tenetur,
      soluta in labore repudiandae possimus. Soluta nihil provident
      voluptatibus exercitationem rem cum?
    </p>
    <!-- <app-servicios [pageName]="nomPagina" [serviciosEnable]="false" [serviciosEnable]="false"></app-servicios> -->
  </div>

  <ion-button (click)="deleteUsuario()">
   Eliminar Usuario
  </ion-button>

</ion-content>