.itemInput{
    background: #dfe5f1;
    margin: 10px;
    border: 1px solid #3171e0;
    border-radius: 10px;
    // color: black
}
.itemInputButton{
    text-transform: capitalize;
    color: #000000;
    background: #80c2f1;
}